<div class="header-meta">
  <a href="https://github.com/{{username}}" target="_blank" rel="noopener nofollow">
    <img src="{{avatarUrl}}" alt="{{username}}" width="24" height="24" loading="lazy" />{{username}}
  </a>
  &nbsp;&middot;&nbsp;
  {{weekLabel dateRange.from dateRange.to}}
</div>
<h1>{{aiContent.title}}</h1>
<p class="header-sub">{{aiContent.subtitle}}</p>
<hr class="header-rule" />
