<header class="header">
  <img class="avatar" src="{{avatarUrl}}" alt="{{username}}" />
  <div class="header-text">
    <h1>{{username}}'s Weekly Report</h1>
    <p class="date-range">{{dateRange.from}} - {{dateRange.to}}</p>
  </div>
</header>
