<div class="header">
  <div class="header-meta">
    <a href="https://github.com/{{username}}" class="header-author" target="_blank" rel="noopener nofollow">
      <img src="{{avatarUrl}}" alt="{{username}}" width="24" height="24" loading="lazy" />
      <span>{{username}}</span>
    </a>
    <span class="header-sep">&middot;</span>
    <span class="header-date">{{weekLabel dateRange.from dateRange.to}}</span>
  </div>
  <h1 class="header-title">{{aiContent.title}}</h1>
  <p class="header-sub">{{aiContent.subtitle}}</p>
</div>
